.hidden {
    display: none;
}

.d-block {
    width: 100%;
    display: block;
}

.font-green {
    color: green;
}

.btn-semi-rounded {
    border-radius: 25px;
}

.text-center {
    text-align: center;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.font-lg {
    font-size: 3em;
}

.center-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mb-20 {
    margin-bottom: 20px;
}

label.required:after {
    content: '*';
    color: var(--colorred);
    margin-left: 5px;
}

.full-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mt0 {
    margin-top: 0;
}

.mt20 {
    margin-top: 20px;
}

.mb0 {
    margin-bottom: 0;
}

.mb20 {
    margin-bottom: 20px;
}

.mb15 {
    margin-bottom: 15px;
}
.pb15 {
    padding-bottom: 15px;
}

.p0 {
    padding: 0;
}

.m0 {
    margin: 0;
}

.pb20 {
    padding-bottom: 20px;
}

.m0auto {
    margin: 0 auto;
}

.grid-row-1 {
    grid-row: 1;
}

.grid-row-1-end {
    grid-row: 1;
    text-align: end;
}