.bg-img {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/test.jpg');
    background-size: cover;
}

.wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper:before {
    background-color: rgba(0, 0, 0, 0.4);
}

.wrapper header,
#mainMenu {
    z-index: 50;
}

.wrapper.full-center.bg-img .title__download {
    color: white;
}

.wrapper.full-center.bg-img .input-field input[type=text],
.wrapper.full-center.bg-img .input-field input[type=password],
.wrapper.full-center.bg-img .input-field input[type=email],
.wrapper.full-center.bg-img .input-field input[type=url],
.wrapper.full-center.bg-img .input-field input[type=time],
.wrapper.full-center.bg-img .input-field input[type=date],
.wrapper.full-center.bg-img .input-field input[type=datetime],
.wrapper.full-center.bg-img .input-field input[type=datetime-local],
.wrapper.full-center.bg-img .input-field input[type=tel],
.wrapper.full-center.bg-img .input-field input[type=number] {
    border-bottom-color: white;
}

.wrapper.full-center.bg-img .input-field>label {
    color: white;
}

.wrapper.full-center.bg-img .input-field .helper-text {
    color: white;
}

body {
    max-width: initial;
    margin: initial;
}